<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This ia about Page</h1>
<hr>
<!-- using fragment -->
<div th:replace="${isLogin} ? ~{base :: parent(~{::section})} : ~{base :: test(~{::#notLoggedIn})}">
    <section>
        <h1>User is Logged in</h1>
        <h2>This is dynamic about content passed to base parent</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aliquam aliquid consequuntur deserunt expedita harum id inventore maiores necessitatibus non odio, officiis omnis optio porro, rerum suscipit veritatis.</p>
        <button>Click on Dynamic Content</button>
    </section>
    <section id="notLoggedIn">
        <h1>User Not Logged In</h1>
    </section>
</div>
</body>
</html>