<!doctype html>
<html
        lang="en"
        th:fragment="parent(content, title, script)"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title data-th-replace="${title}">SCM</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>

<!-- Common Header -->
<ul class="p-4">
    <li>
        <a data-th-href="@{'/home'}">Home</a>
    </li>
    <li>
        <a data-th-href="@{'/about'}">About</a>
    </li>
    <li>
        <a data-th-href="@{'/services'}">Services</a>
    </li>
</ul>

<!-- main content-->
<div class="p-4">
    <section data-th-replace="${content}"></section>
</div>

<!-- Common Footer -->
<footer class="p-4">Footer: Learn Code with Karthik</footer>

<!-- Flow bite content -->
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
<th:block data-th-replace="${script}"></th:block>
</body>
</html>