<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base::parent(~{::#content}, ~{::title}, ~{::script})}"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<div id="content">
    <h1>Welcome to Contact page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad, alias, dicta dolorem et harum illo inventore laborum maxime molestias odio pariatur quo recusandae saepe ullam ut velit voluptatem voluptates.</p>
</div>
<script>
    console.log("Contact");
</script>
<script>
    console.log("This is Contact page")
</script>
</body>
</html>