<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This ia Services Page</h1>
<hr>
<!-- using fragment -->
<div th:replace="~{base :: parent(~{::.third_content})}">
    <section id="main_content">
        <h1>This is Dynamic Services passed to base parent</h1>
    </section>
    <section id="second_content">
        <h1>This is second Dynamic Services passed to base parent</h1>
    </section>
    <section class="third_content">
        <h1>This is class Dynamic Services passed to base parent</h1>
    </section>
</div>
</body>
</html>