<!doctype html>
<html
        lang="en"
        th:replace="~{base::parent(~{::#content}, ~{::title}, ~{})}"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Services</title>
</head>
<body>
<div id="content">
    <h1>Welcome to Services Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur dolor et itaque obcaecati odit rem, rerum ut! Consectetur corporis debitis doloribus eos incidunt laudantium placeat repellat similique tempora vitae?</p>
</div>
</body>
</html>